body {
	background: #333;
}

.container {
	padding-top: 20px;
	background-color: #FFF;
}

.title {
	font-variant-caps: small-caps;
	text-align: center;
	margin-bottom: 50px;
}

.title h1 {
	font-size: 3.2em;
	font-weight: bold;
}

hr {
	border-top-color: #333;
}

nav {
	position: fixed;
	top: 70px;
}

.list-group {
	left: -1px;
	width: 100%;
	padding: 0;
	border-radius: 0 5px 5px 0;
}

.list-group-item {
	background-color: #333;
	border: 1px solid #222;
	border-left-color: #333;
}

.list-group-item:first-child {
	border-radius: 0 5px 0 0;
}

.list-group-item:last-child {
	border-radius: 0 0 5px 0;
}

.list-group-item.active {
	background-color: #111;
	border-color: #222;
	border-left-color: #333;
}

.list-group-item.active:hover, .list-group-item:hover {
	background-color: #222;
	border-color: #555;
	border-left-color: #333;
	cursor: pointer;
	z-index: 3;
}

nav img {
	width: 25px;
	margin: auto;
}

section {
	text-align: justify;
}

img {
	width: 100%;
	margin: 40px 0;
}

footer {
	color: white;
	text-align: center;
}

/* Konami code effects */
body.reverse {
	background-color: #FFF;
}

.container.reverse {
	background-color: #333;
	color: #FFF;
}
a.reverse {
	color: #cc8548;
}

a.reverse:hover {
	color: #dcad83;
}

hr.reverse {
	border-top-color: #FFF;
}

.list-group-item.reverse {
	background-color: #FFF;
	border: 1px solid #DDD;
	border-left-color: #FFF;
}

.list-group-item.active.reverse {
	background-color: #DDD;
	border-color: #EEE;
	border-left-color: #FFF;
}

.list-group-item.active.reverse:hover, .list-group-item.reverse:hover {
	background-color: #EEE;
	border-color: #BBB;
	border-left-color: #FFF;
}

footer.reverse {
	color: #333;
}